@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif;
https://unsplash.com/photos/0cbLoqUyz28 */


body{
    margin: 0;
    min-height: 100vh;
    /* background-color: aqua; */
    background:

    /* top, transparent black, faked with gradient */ 
     linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('https://images.unsplash.com/photo-1567787609897-efa3625dd22d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    font-family: 'Outfit', sans-serif;
}



.container{
    /* background-color: aqua; */
    padding: 20px;
    width: 50%;
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 240px auto;
    grid-template-areas: 
    'title'
    'name'
    'lyrics';
}



.title{
    font-size: 1.5em;
    margin: auto;
    grid-area: title;
    color: aliceblue;
    text-decoration: none;
}

.name{
    border-radius: 10px;
    
    margin: 30px 0px;
    grid-area: name;
    background-color: #2C363F;
    display: grid;
    grid-template-columns: auto 180px;
    grid-template-areas: 
    'info cover';
}
.info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.cover{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .container{
        /* background-color: aqua; */
        padding: 20px;
        width: 50%;
        margin:  auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 150px auto;
        grid-template-areas: 
        'title'
        'name'
        'lyrics';
    }
    .info{
        line-height: 2px;
        font-size: 8px;
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: aliceblue;
    }
    .info > p{
        font-size: 10px;
    }
    
    .name{
        border-radius: 10px;
        
        margin: 30px 0px;
        grid-area: name;
        background-color: #2C363F;
        display: grid;
        grid-template-columns: auto 80px;
        grid-template-areas: 
        'info cover';
    }
}

.lyrics{
    text-align: center;
    color: aliceblue;
    /* line-height: 5px; */
    border-radius: 10px;
    padding: 20px;
    grid-area: lyrics;
    background-color: #2C363F;
}