@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */


body{
    margin: 0;
    height: auto;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('https://images.unsplash.com/photo-1483000805330-4eaf0a0d82da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    /* background-color: aqua; */
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    'search'
    'results';
}
.search{
    grid-area: search;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
 h1{
    font-size: 3em;
}
.input{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 1px;
}
button{
    min-width: 30%;
    max-width: 20%;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size: clamp(0.75rem, 2vw, 2rem); 
}
textarea{
    /* margin: 0px 20px; */
    width: 80%;
    resize: none;
    overflow: hidden;
    background-color: #2C363F;
    color: aliceblue;

    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
    outline: none;

    font-size: 16px;
    text-align:left;
}
.results{
    display: flex;
    justify-content: center;
    grid-area: results;
    margin: 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat( auto-fit, minmax( 15em, 17em));
    grid-auto-rows: 22em;
}
.song{
    border-radius: 10px;
    background-color: #2A2D34;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    'image'
    'text';
    text-decoration: none;
}
.image{
    height: 17em;
    grid-area: image;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: cover;
}
.text{
    margin: 10px auto;
    grid-area: text;
    color: #E6E6E9;
    font-size: 1.5em;
    display: flex;
}